body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:aquamarine 
};

#box {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: aqua;
};

#display {
    background-color: aliceblue;
    border: solid black 3px;
};

.btn {
    margin: 10px;
    padding: 5px;
    border: solid 2px yellow;
};